@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: var(--white);
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    max-width: 320px;
    margin-bottom: 2rem;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 16px;
}

.card h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-blue);
    margin-top: 24px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.card p {
    font-size: 15px;
    color: var(--grayish-blue);
    margin-top: 16px;
    margin-bottom: 24px;
}

@media (min-width: 1440px) {
    .card {
        max-width: 420px;
    }
}
